<hr>
<div class="container">
    <small>
        Built by <a href="https://andrewweisbeck.com">Andrew Weisbeck</a> with &hearts;.
        <br/>View the <a href="{{ pkg.repository.url }}">Github repo</a>.
    </small>
</div>
