---
layout: layouts/base.njk
section: contact
---

<div class="container">
    {{ layoutContent | safe }}
</div>

<div class="container">
    {% include "components/form.njk" %}
</div>

<div class="container">
    <ul>
        <li class="contact-info"><a href="mailto:tarheeldevstudiollc@proton.me">tarheeldevstudiollc@proton.me</a></li>
        <li class="contact-info"><a href="mailto:andrew@geauxweisbeck4.dev">andrew@geauxweisbeck4.dev</a></li>
        <li class="contact-info">(910)227-4980</li>
    </ul>
</div>

<div class="container">
    <p>While we do try to get back to you as soon as possible, we can't always respond on demand. Please allow up to 48 hours for a response. If five days have gone by and you have sent three messages to me, you have the right to scream at me until I start crying.</p>
    <br>
    <p><em>Normally it doesn't take that long - I typically respond really fast</em></p>
</div>
